In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

from sklearn.preprocessing import LabelEncoder

In [3]:
df_tr = pd.read_csv('/content/drive/My Drive/dataset/kannada_sentiment_full_train.tsv', sep='\t')
print(df_tr.shape)
df_tr.head()

(6212, 2)

                                                text     category
0  ಒಂದು ದೇಶದ ಮುಂದುವರಿಯುವುದು ಅದರ ಆರ್ಥಿಕ ಸ್ಥಿತಿಯನ್ನ...     Negative
1  ಕನ್ನಡದಲ್ಲಿ ಡೈಲಿ ಟೆಕ್ ಅಪ್ಡೇಟ್ಸ್ ಪಡೆಯಲು ಸಬ್ಸ್ಕ್ರ...     Positive
2                                     Super sar song  not-Kannada
3  Tiktokers present situation... nನೋಡುವವರು ಯಾರು ...     Negative
4                          Super ಸಾಂಗ್ ವೆರಿ ನೈಸ್....     Positive

In [4]:
print(df_tr['category'].value_counts())
df_tr['category'].unique()

Positive          2823
Negative          1188
not-Kannada        916
unknown state      711
Mixed feelings     574
Name: category, dtype: int64

array(['Negative', 'Positive', 'not-Kannada', 'Mixed feelings',
       'unknown state'], dtype=object)

In [5]:
df_tr['category'] = LabelEncoder().fit_transform(df_tr['category'])
df_tr.head()

                                                text  category
0  ಒಂದು ದೇಶದ ಮುಂದುವರಿಯುವುದು ಅದರ ಆರ್ಥಿಕ ಸ್ಥಿತಿಯನ್ನ...         1
1  ಕನ್ನಡದಲ್ಲಿ ಡೈಲಿ ಟೆಕ್ ಅಪ್ಡೇಟ್ಸ್ ಪಡೆಯಲು ಸಬ್ಸ್ಕ್ರ...         2
2                                     Super sar song         3
3  Tiktokers present situation... nನೋಡುವವರು ಯಾರು ...         1
4                          Super ಸಾಂಗ್ ವೆರಿ ನೈಸ್....         2

In [6]:
def demoji(text):
	emoji_pattern = re.compile("["
		u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\U00002702-\U000027B0"
        u"\U000024C2-\U0001F251"
        u"\U00010000-\U0010ffff"
	"]+", flags=re.UNICODE)
	return(emoji_pattern.sub(r'', text))

In [8]:
import re
df_tr['text'] = df_tr['text'].apply(lambda x: demoji(x))
df_tr['text'] = df_tr['text'].str.replace('\d+', '')
df_tr.head(15)

                                                 text  category
0   ಒಂದು ದೇಶದ ಮುಂದುವರಿಯುವುದು ಅದರ ಆರ್ಥಿಕ ಸ್ಥಿತಿಯನ್ನ...         1
1   ಕನ್ನಡದಲ್ಲಿ ಡೈಲಿ ಟೆಕ್ ಅಪ್ಡೇಟ್ಸ್ ಪಡೆಯಲು ಸಬ್ಸ್ಕ್ರ...         2
2                                      Super sar song         3
3   Tiktokers present situation... nನೋಡುವವರು ಯಾರು ...         1
4                           Super ಸಾಂಗ್ ವೆರಿ ನೈಸ್....         2
5   Varshakke  thagadu movie madi industry haal ma...         1
6    Tickets amount  adru mosa illa ... Love you  all         2
7              Super super super film I can't explain         2
8        @Wild Rex ಕಟ್ಟಬೇಕು bronಖಂಡಿತಾ ಕಟ್ಟುತ್ತೆ  bro         0
9                     shankaragouda desaigoudra super         2
10                       @Vinay Vn  nani gentle men??         4
11                                Nayanappa's book ??         4
12                          Who is here after k likes         0
13                      Sir ನಿಮ್ಮ ಮಾತು  ಕ್ಕೆ % ಸತ್ಯ..         2
14                       Very nice togari tippa story         2

In [9]:
def demoji(text):
	emoji_pattern = re.compile("["
		u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\U00002702-\U000027B0"
        u"\U000024C2-\U0001F251"
        u"\U00010000-\U0010ffff"
	"]+", flags=re.UNICODE)
	return(emoji_pattern.sub(r'', text))

In [10]:
df_tr['text'] = df_tr['text'].apply(lambda x: demoji(x))
df_tr['text'] = df_tr['text'].str.replace('\d+', '')
df_tr.head(15)

                                                 text  category
0   ಒಂದು ದೇಶದ ಮುಂದುವರಿಯುವುದು ಅದರ ಆರ್ಥಿಕ ಸ್ಥಿತಿಯನ್ನ...         1
1   ಕನ್ನಡದಲ್ಲಿ ಡೈಲಿ ಟೆಕ್ ಅಪ್ಡೇಟ್ಸ್ ಪಡೆಯಲು ಸಬ್ಸ್ಕ್ರ...         2
2                                      Super sar song         3
3   Tiktokers present situation... nನೋಡುವವರು ಯಾರು ...         1
4                           Super ಸಾಂಗ್ ವೆರಿ ನೈಸ್....         2
5   Varshakke  thagadu movie madi industry haal ma...         1
6    Tickets amount  adru mosa illa ... Love you  all         2
7              Super super super film I can't explain         2
8        @Wild Rex ಕಟ್ಟಬೇಕು bronಖಂಡಿತಾ ಕಟ್ಟುತ್ತೆ  bro         0
9                     shankaragouda desaigoudra super         2
10                       @Vinay Vn  nani gentle men??         4
11                                Nayanappa's book ??         4
12                          Who is here after k likes         0
13                      Sir ನಿಮ್ಮ ಮಾತು  ಕ್ಕೆ % ಸತ್ಯ..         2
14                       Very nice togari tippa story         2

In [11]:
X_train, y_train = df_tr['text'], df_tr['category']

In [13]:
df_tt = pd.read_csv('/content/drive/My Drive/dataset/kannada_sentiment_full_dev.tsv', sep='\t')
print(df_tt.shape)
df_tt.head()

(691, 2)

                                                text        category
0  Binduge saryagi ugithidira good go ahead  we a...  Mixed feelings
1                             yen song guru ...super        Positive
2                                   my fevorat story     not-Kannada
3                                  Super ತೋಗರಿ ತೀಪ್ಪ        Positive
4  ನಿಮ್ಮ ಮಾತುಗಳು ಅಕ್ಷರಶಃ ಸತ್ಯ... ನಿಮ್ಮ ಈ ಸಾಮಾನ್ಯ ...        Positive

In [14]:
df_tt['category'].value_counts()

Positive          321
Negative          139
not-Kannada       110
unknown state      69
Mixed feelings     52
Name: category, dtype: int64

In [15]:
df_tt['category'] = LabelEncoder().fit_transform(df_tt['category'])
df_tt.head()

                                                text  category
0  Binduge saryagi ugithidira good go ahead  we a...         0
1                             yen song guru ...super         2
2                                   my fevorat story         3
3                                  Super ತೋಗರಿ ತೀಪ್ಪ         2
4  ನಿಮ್ಮ ಮಾತುಗಳು ಅಕ್ಷರಶಃ ಸತ್ಯ... ನಿಮ್ಮ ಈ ಸಾಮಾನ್ಯ ...         2

In [17]:
df_tt['text'] = df_tt['text'].apply(lambda x: demoji(x))
df_tt['text'] = df_tt['text'].str.replace('\d+', '')
df_tt.head(15)

                                                 text  category
0   Binduge saryagi ugithidira good go ahead  we a...         0
1                              yen song guru ...super         2
2                                    my fevorat story         3
3                                   Super ತೋಗರಿ ತೀಪ್ಪ         2
4   ನಿಮ್ಮ ಮಾತುಗಳು ಅಕ್ಷರಶಃ ಸತ್ಯ... ನಿಮ್ಮ ಈ ಸಾಮಾನ್ಯ ...         2
5             ಸೂಪರ್... ಜಂಟಲ್ ಮ್ಯಾನ್..... All the best         2
6   ಆದರೆ ನಮ್ಮ ದೇಶದಲ್ಲಿ ರಾಜಕಾರಣದಲ್ಲಿ ಇಚ್ಛಾಶಕ್ತಿ ಕೊರ...         2
7   ಚಂದನ್ ಶೆಟ್ಟಿ ಟ್ರೊಲ್ ವಿಡಿಯೋ ನೀವು ನೋಡಿ ನೆಗಡ್ಡೆ ಇ...         2
8     @Kiccha Vitthal ದಬಾಂಗ್ ಆಲ್ಸೋ ಏನು ಆಲ್ರೆಡಿ ಫ್ಲಾಪ್         1
9                                     tik tok rip bro         3
10  Super movie days paka super guru see once dis ...         2
11                                   Super I like him         2
12  ನಿಮ್ಮ್ ಶ್ರಮ ತುಂಬಾ ಇರುತ್ತೆ ಸಾಂಗ್ ನೋಡಿದ್ರೆನೇ ಗೊತ...         2
13  @Nandi Parthasarathi ನಂದಿನಿ ಪಾರ್ಥ ಸಾರಥಿ ನಿನ್ ತ...         1
14                                        Anjali Devi         3

In [18]:
X_test, y_test = df_tt['text'], df_tt['category']

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer

from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import  LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, confusion_matrix

In [20]:
tfidf_ngram = TfidfVectorizer(token_pattern=r'\w{1,}', ngram_range=(2, 3))

tfidf_ngram.fit(X_train)
X_train_tfidf_ngram = tfidf_ngram.transform(X_train)

# tfidf_ngram.fit(X_test)
X_test_tfidf_ngram = tfidf_ngram.transform(X_test)

In [21]:
def train_model(classifier, trained_feature_vector, train_target, test_feature_vector):
    classifier.fit(trained_feature_vector, train_target)
    predictions = classifier.predict(test_feature_vector)
    
    # prediction of target probabilites on test data for roc auc score/curve
    # pred_prob = classifier.predict_proba(test_feature_vector)

    # probabilities for spam class
    # pos_prob = pred_prob[:, 1]

    result = pd.DataFrame({'Metrics': ['Accuracy score', 'Recall score', 'F1 score', 'Precision score'], 'Scores': [accuracy_score(y_test, predictions), recall_score(y_test, predictions, average='micro'), f1_score(y_test, predictions, average='weighted'), precision_score(y_test, predictions, average='micro')]})

    clf_report = classification_report(y_test, predictions)

    return (result, clf_report)

In [22]:
scores, report = train_model(MultinomialNB(), X_train_tfidf_ngram, y_train, X_test_tfidf_ngram)
print('Metrics Scores:\n\n', scores)
print('\nClassification Report:\n\n', report)

Metrics Scores:

            Metrics    Scores
0   Accuracy score  0.513748
1     Recall score  0.513748
2         F1 score  0.398398
3  Precision score  0.513748

Classification Report:

               precision    recall  f1-score   support

           0       0.00      0.00      0.00        52
           1       0.76      0.14      0.23       139
           2       0.49      0.99      0.66       321
           3       0.82      0.16      0.27       110
           4       1.00      0.01      0.03        69

    accuracy                           0.51       691
   macro avg       0.61      0.26      0.24       691
weighted avg       0.61      0.51      0.40       691

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [23]:
scores, report = train_model(LogisticRegression(max_iter=500), X_train_tfidf_ngram, y_train, X_test_tfidf_ngram)
print('Metrics Scores:\n\n', scores)
print('\nClassification Report:\n\n', report)

Metrics Scores:

            Metrics    Scores
0   Accuracy score  0.547033
1     Recall score  0.547033
2         F1 score  0.468810
3  Precision score  0.547033

Classification Report:

               precision    recall  f1-score   support

           0       1.00      0.02      0.04        52
           1       0.69      0.21      0.32       139
           2       0.52      0.93      0.67       321
           3       0.66      0.40      0.50       110
           4       0.44      0.06      0.10        69

    accuracy                           0.55       691
   macro avg       0.66      0.32      0.33       691
weighted avg       0.61      0.55      0.47       691

In [24]:
scores, report = train_model(RandomForestClassifier(n_estimators=50), X_train_tfidf_ngram, y_train, X_test_tfidf_ngram)
print('Metrics Scores:\n\n', scores)
print('\nClassification Report:\n\n', report)

Metrics Scores:

            Metrics    Scores
0   Accuracy score  0.452967
1     Recall score  0.452967
2         F1 score  0.451789
3  Precision score  0.452967

Classification Report:

               precision    recall  f1-score   support

           0       0.31      0.08      0.12        52
           1       0.67      0.21      0.32       139
           2       0.71      0.56      0.63       321
           3       0.25      0.78      0.38       110
           4       0.37      0.22      0.27        69

    accuracy                           0.45       691
   macro avg       0.46      0.37      0.34       691
weighted avg       0.57      0.45      0.45       691

# 32854

In [25]:
!pip install xgboost

Requirement already satisfied: xgboost in /usr/local/lib/python3.7/dist-packages (0.90)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from xgboost) (1.19.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from xgboost) (1.4.1)

In [26]:
from xgboost import XGBClassifier

In [27]:
scores, report = train_model(XGBClassifier(), X_train_tfidf_ngram, y_train, X_test_tfidf_ngram)
print('Metrics Scores:\n\n', scores)
print('\nClassification Report:\n\n', report)

Metrics Scores:

            Metrics    Scores
0   Accuracy score  0.502171
1     Recall score  0.502171
2         F1 score  0.398864
3  Precision score  0.502171

Classification Report:

               precision    recall  f1-score   support

           0       0.00      0.00      0.00        52
           1       0.91      0.14      0.25       139
           2       0.48      0.95      0.64       321
           3       0.58      0.19      0.29       110
           4       0.50      0.03      0.05        69

    accuracy                           0.50       691
   macro avg       0.50      0.26      0.25       691
weighted avg       0.55      0.50      0.40       691

In [28]:
scores, report = train_model(DecisionTreeClassifier(random_state=1), X_train_tfidf_ngram, y_train, X_test_tfidf_ngram)
print('Metrics Scores:\n\n', scores)
print('\nClassification Report:\n\n', report)

Metrics Scores:

            Metrics    Scores
0   Accuracy score  0.406657
1     Recall score  0.406657
2         F1 score  0.417958
3  Precision score  0.406657

Classification Report:

               precision    recall  f1-score   support

           0       0.30      0.17      0.22        52
           1       0.50      0.23      0.32       139
           2       0.71      0.47      0.56       321
           3       0.22      0.72      0.34       110
           4       0.35      0.16      0.22        69

    accuracy                           0.41       691
   macro avg       0.42      0.35      0.33       691
weighted avg       0.52      0.41      0.42       691

In [29]:
scores, report = train_model(SVC(kernel='linear'), X_train_tfidf_ngram, y_train, X_test_tfidf_ngram)
print('Metrics Scores:\n\n', scores)
print('\nClassification Report:\n\n', report)

Metrics Scores:

            Metrics    Scores
0   Accuracy score  0.560058
1     Recall score  0.560058
2         F1 score  0.501684
3  Precision score  0.560058

Classification Report:

               precision    recall  f1-score   support

           0       0.57      0.08      0.14        52
           1       0.66      0.27      0.38       139
           2       0.54      0.91      0.68       321
           3       0.62      0.41      0.49       110
           4       0.50      0.13      0.21        69

    accuracy                           0.56       691
   macro avg       0.58      0.36      0.38       691
weighted avg       0.58      0.56      0.50       691

In [30]:
scores, report = train_model(KNeighborsClassifier(n_neighbors=3), X_train_tfidf_ngram, y_train, X_test_tfidf_ngram)
print('Metrics Scores:\n\n', scores)
print('\nClassification Report:\n\n', report)

Metrics Scores:

            Metrics    Scores
0   Accuracy score  0.201158
1     Recall score  0.201158
2         F1 score  0.205584
3  Precision score  0.201158

Classification Report:

               precision    recall  f1-score   support

           0       0.09      0.94      0.16        52
           1       0.25      0.01      0.03       139
           2       0.82      0.12      0.22       321
           3       0.58      0.38      0.46       110
           4       0.40      0.09      0.14        69

    accuracy                           0.20       691
   macro avg       0.43      0.31      0.20       691
weighted avg       0.57      0.20      0.21       691